.container {
    max-width: 1240px;
    height: 100%;
    margin: auto;

    display: grid;

    align-content: center;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
}